header {
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color: rgb(22, 22, 80);
}

main {
    background-color: lightsteelblue;
    width:1000px;
    margin-left: 300px;
    align-content: center;
}

article {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

#subh {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

h3.underline {
    text-decoration: underline;
    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: lightgray;
}

ul li {
    display: inline-block;
    border: 2px solid white;
    padding: 14px 25px;
    text-align: center;
    color: white;
    font-size: 20px;
}

a {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(22, 22, 80);
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: yellowgreen;
    padding: 14px 25px;
}

/* a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  } */

